<div [ngClass]="{'landing-page': true,'show-mobile-menu': showMobileMenu}">
    <div class="mobile-menu" (click)="$event.stopPropagation()" >
        <a (click)="scrollTo('#home')" href="javascript:;" class="logo-mobile" >
            <span id="logomenu" ></span>
        </a>
        <ul class="navbar-nav">
            
            <li class="nav-item">
                <div class="separator"></div>
            </li>
            <li class="nav-item text-center">
                <a class="btn btn-outline-primary btn-sm mobile-menu-cta"  routerLink="./user/login">Log in</a>
            </li>
        </ul>
    </div>

    <div class="main-container">
        <ngx-headroom class="landing-page-nav">
            <nav>
                <div class="container d-flex align-items-center justify-content-between">
                    <a class="navbar-logo pull-left" (click)="scrollTo('#home')" href="javascript:;">
                        <h1>Wastic</h1> 
                    </a>
                    <ul class="navbar-nav d-none d-lg-flex flex-row">
                        
                        <li class="nav-item pl-4">
                            <a class="btn btn-outline-semi-light btn-sm pr-4 pl-4" 
                                routerLink="./user/login">Log in</a>
                        </li>
                    </ul>
                    <span class="mobile-menu-button" (click)="showMobileMenu=!showMobileMenu; $event.stopPropagation()" >
                        <i class="simple-icon-menu"></i>
                    </span>
                </div>
            </nav>
        </ngx-headroom>

       
    
        <div class="content-container" id="home">

            

            <div class="section home">
                <div class="container">
                    <div class="row home-row">
                        

                        <div class="col-md-4 col-sm-12 align-self start">
                            <div class="home-text">
                                <div class="display-1"> <strong>Web app</strong> </div>
                                <p class="white mb-5">
                                    The best way to organize your company
                                    
                                </p>
                                <a class="btn btn-light btn-xl mr-2 mb-2" routerLink="./user/register">
                                    Sign in <i class="simple-icon-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12 "><span></span></div>
                        <div class="col-md-4 col-sm-12 align-self-end">
                            
                                <img src="/assets/img/landing-page/registration.svg" >
                                
                                
                            
                        </div>
                  
                </div>
            </div>
            
        </div>
    
    
        
    </div>
</div>