<h1><strong>Willkommen</strong> [ USER NAME ]</h1>

<div class="container">

    <div class="row ">

        <div class="card col-md-3 col-sm-6">
            <div class="card-body text-center card-center"> 
                <i class="iconsminds-shop-4">
                    
                </i>
                <p class="card-text font-weight-semibold mb-0">Instrumententafel</p>
            </div>
        </div>
    
        <div class="card col-md-3 col-sm-6">
            <div class="card-body text-center card-center"> 
                <i class="iconsminds-user">
                    
                </i>
                <p class="card-text font-weight-semibold mb-0">Stammdaten</p>
            </div>
        </div>
    
        <div class="card col-md-3 col-sm-6">
            <div class="card-body text-center card-center"> 
                <i class="iconsminds-box-close">
                    
                </i>
                <p class="card-text font-weight-semibold mb-0">Meine Aufträge</p>
            </div>
        </div>
    
    </div>
    <span class="spacer"></span>

    <div class=" row ">

        <div class="card col-md-3 col-sm-6">
            <div class="card-body text-center card-center"> 
                <i class="iconsminds-receipt-4">
                    
                </i>
                <p class="card-text font-weight-semibold mb-0">Meine Rechnungen</p>
            </div>
        </div>
    
        <div class="card col-md-3 col-sm-6">
            <div class="card-body text-center card-center"> 
                <i class="iconsminds-statistic">
                    
                </i>
                <p class="card-text font-weight-semibold mb-0">Mein 
                    Abfallmanagement</p>
            </div>
        </div>
    
        <div class="card col-md-3 col-sm-6">
            <div class="card-body text-center card-center" id="icon-size"> 
                <i class="iconsminds-speach-bubble " >
                    
                </i>
                <p class="card-text font-weight-semibold mb-0">Help Desk</p>
            </div>
        </div>
    
    </div>

</div>

